<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="<%= pageTitle %>" />
    <meta property="og:description" content="<%= pageDescription %>" />
    <meta property="og:image" content="<%= pageImage %>" />
    <meta property="og:url" content="<%= pageUrl %>" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Adventure Blog" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <title>Life of a software dev</title>
</head>

<body>
    <h2>Blood sucking life</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit quos voluptatum soluta nemo, vitae nesciunt.
        Nesciunt molestiae a soluta, aspernatur illum vero? Odit ducimus, velit delectus minus iste ipsum dolorem in
        inventore numquam laborum voluptatem quae temporibus dignissimos at optio ad incidunt eligendi quidem aspernatur
        hic totam quo, dolorum ea?</p>
</body>

</html>